.container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 60px;
  }

  @media (max-width: 991px) {
    .container {
      padding: 0 2px;
    }
  }

  .content-wrapper {
    display: flex;
    margin-top: 13px;
    width: 100%;
    max-width: 1204px;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    .content-wrapper {
      max-width: 100%;
    }
  }

  .header {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }

  .logo {
    color: #000;
    margin: auto 0;
    font: 800 32px Inter, sans-serif;
  }

  .home-link {
    color: #000;
    display: flex;
    font: 24px Inter, sans-serif;
    text-decoration: none;
  }

  .explore-link {
    color: #000;
    font: 24px Inter, sans-serif;
    display: flex;
    text-decoration: none;
  }

    .nav-menu {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    @media (max-width: 991px) {
        .nav-menu {
            display: none;
        }
    }

  .login-link {
    color: #000;
    font: 24px Inter, sans-serif;
    display: flex;
    text-decoration: none;

  }

  .signup-link {
    color: #000;
    font: 24px Inter, sans-serif;
    display: flex;
    text-decoration: none;
  }

  #search {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 20px;
    width: 300px;
    height: 40px;
  }


  .hero-section {
    margin-top: 168px;
  }

  @media (max-width: 991px) {
    .hero-section {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-content {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .hero-content {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .hero-text-col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .hero-text-col {
      width: 100%;
    }
  }

  .hero-text-wrapper {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    font-size: 24px;
    color: #000;
  }

  @media (max-width: 991px) {
    .hero-text-wrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }

  .hero-text {
    font-family: Inter, sans-serif;
    font-weight: 600;
  }

  @media (max-width: 991px) {
    .hero-text {
      max-width: 100%;
    }
  }

  .hero-cta-wrapper {
    display: flex;
    margin-top: 72px;
    gap: 20px;
    font-weight: 400;
    justify-content: center;
  }

  @media (max-width: 991px) {
    .hero-cta-wrapper {
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .hero-cta-explore {
    font-family: Inter, sans-serif;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid rgba(250, 120, 0, 1);
    background-color: #fa7800;
    white-space: nowrap;
    padding: 10px 37px;
    text-decoration: none;
    color: black;
  }

  @media (max-width: 991px) {
    .hero-cta-explore {
      white-space: initial;
      padding: 0 20px;
    }
  }

  .hero-cta-tour {
    font-family: Inter, sans-serif;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid rgba(250, 120, 0, 1);
    padding: 10px 26px;
    text-decoration: none;
    color: black;

  }

  @media (max-width: 991px) {
    .hero-cta-tour {
      padding: 0 20px;
    }
  }

  .hero-img-col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 20px;
  }

  @media (max-width: 991px) {
    .hero-img-col {
      width: 100%;
    }
  }

  .hero-img {
    aspect-ratio: 1.41;
    object-fit: auto;
    object-position: center;
    width: 100%;
    flex-grow: 1;
  }

  @media (max-width: 991px) {
    .hero-img {
      max-width: 100%;
      margin-top: 37px;
    }
  }

  .popular-section {
    display: flex;
    margin-top: 164px;
    gap: 20px;
    justify-content: space-between;
  }

  @media (max-width: 991px) {
    .popular-section {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
    }
  }

  .popular-title {
    color: #000;
    font: 700 40px Inter, sans-serif;
  }

  .popular-view-more {
    color: #080808;
    align-self: start;
    margin-top: 17px;
    font: 400 20px Inter, sans-serif;
  }

  .popular-grid {
    margin-top: 34px;
    padding: 10px;
  }

  @media (max-width: 991px) {
    .popular-grid {
      max-width: 100%;
      padding-right: 20px;
    }
  }

  .popular-grid-row {
    gap: 20px;
    display: flex;
  }

  @media (max-width: 991px) {
    .popular-grid-row {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }

  .popular-grid-col {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }

  @media (max-width: 991px) {
    .popular-grid-col {
      width: 100%;
    }
  }

  .popular-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    aspect-ratio: 0.78;
    padding-top: 80px;
    font-size: 20px;
    color: var(--Light-Grey, #efeff1);
    font-weight: 400;
  }

  @media (max-width: 991px) {
    .popular-card {
      margin-top: 20px;
    }
  }

  .popular-card-img {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .popular-card-title {
    position: relative;
    font-family: Inter, sans-serif;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, #111 100%);
    margin-top: 290px;
    padding: 48px 8px 8px;
  }

  @media (max-width: 991px) {
    .popular-card-title {
      margin-top: 40px;
    }
  }
