    .container {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 72px 60px 0;
    }

    @media (max-width: 991px) {
      .container {
        padding: 0 20px;
      }
    }

    .content-wrapper {
        display: flex;
        margin-top: 13px;
        width: 100%;
        max-width: 1204px;
        flex-direction: column;
    }
    
    @media (max-width: 991px) {
        .content-wrapper {
            max-width: 100%;
        }
    }
    
    .header {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    @media (max-width: 991px) {
        .header {
            max-width: 100%;
            flex-wrap: wrap;
        }
    }
  
    
  
    .logo {
        color: #000;
        margin: auto 0;
        font: 800 32px Inter, sans-serif;
    }
    
    .home-link {
        color: #000;
        display: flex;
        font: 24px Inter, sans-serif;
        text-decoration: none;
    }
    
    .explore-link {
        color: #000;
        font: 24px Inter, sans-serif;
        display: flex;
        text-decoration: none;
    }
    
    .nav-menu {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    
    @media (max-width: 991px) {
        .nav-menu {
            display: none;
        }
    }
    
    .login-link {
        color: #000;
        font: 24px Inter, sans-serif;
        display: flex;
        text-decoration: none;
    }
    
    .signup-link {
        color: #000;
        font: 24px Inter, sans-serif;
        display: flex;
        text-decoration: none;
    }
    
    #search {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        border-radius: 20px;
        width: 300px;
        height: 40px;
    }
    .main-content {
      margin-top: 38px;
      padding: 0 2px;
    }
  
    @media (max-width: 991px) {
      .main-content {
        max-width: 100%;
      }
    }
  
    .row {
      gap: 20px;
      display: flex;
    }
  
    @media (max-width: 991px) {
      .row {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
      }
    }
  
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 0px;
    }
  
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
  
    .signup-form {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      font-size: 20px;
      color: #000;
      font-weight: 400;
      margin: auto 0;
    }
  
    @media (max-width: 991px) {
      .signup-form {
        margin-top: 40px;
      }
    }
  
    .signup-heading {
      font: 48px Inter, sans-serif;
    }
  
    @media (max-width: 991px) {
      .signup-heading {
        font-size: 40px;
      }
    }
  
    .username-label {
      font-family: ABeeZee, sans-serif;
      font-style: italic;
      margin-top: 57px;
  }
  
  @media (max-width: 991px) {
      .username-label {
          max-width: 100%;
          margin-top: 40px;
      }
  }
  
  .username-input {
    border-radius: 40px;
    background-color: transparent; 
    margin-top: 20px;
    height: 50px; 
    width: 450px; 
  }

  @media (max-width: 991px) {
    .username-input {
       max-width: 100%;
    }
  }
  
  .password-label {
    font-family: ABeeZee, sans-serif;
    font-style: italic;
    margin-top: 55px;
  }

  @media (max-width: 991px) {
    .password-label {
        max-width: 100%;
        margin-top: 40px;
    }
  }
  
  .password-input {
    border-radius: 40px;
    background-color: transparent; 
    margin-top: 14px;
    height: 50px; 
    width: 450px; 
  }

  @media (max-width: 991px) {
    .password-input {
        max-width: 100%;
    }
  }
  
    .confirm-password-label {
      font-family: ABeeZee, sans-serif;
      font-style: italic;
      margin-top: 55px;
    }
  
    .confirm-password-input {
      border-radius: 40px;
      background-color: transparent; 
      margin-top: 14px;
      height: 50px; 
      width: 450px; 
    }
  
    .user-type {
      display: flex;
      width: 128px;
      max-width: 100%;
      flex-direction: column;
      margin: 47px 0 0 14px;
    }
  
    @media (max-width: 991px) {
      .user-type {
        margin: 40px 0 0 10px;
      }
    }
  
    .tour-guide-option {
      display: flex;
      gap: 11px;
      text-align: left;
    }
  
    .tour-guide-btn {
      border-radius: 10px;
      border: 2px solid rgba(99, 99, 102, 1);
      align-self: start;
      width: 20px;
      height: 20px;
    }
  
    .tour-guide-label {
      font-family: Abel, sans-serif;
    }
  
    .tourist-option {
      display: flex;
      margin-top: 17px;
      gap: 11px;
      white-space: nowrap;
      text-align: center;
    }
  
    @media (max-width: 991px) {
      .tourist-option {
        white-space: initial;
      }
    }
  
    .tourist-btn {
      border-radius: 10px;
      border: 2px solid rgba(99, 99, 102, 1);
      width: 20px;
      height: 20px;
    }
  
    .tourist-label {
      font-family: Abel, sans-serif;
      margin: auto 0;
    }
  
    .interest-select {
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 1);
      border-bottom-width: 1px;
      background-color: #ff4b26;
      display: flex;
      margin-top: 40px;
      align-items: start;
      gap: 20px;
      font-size: 15px;
      color: #111;
      white-space: nowrap;
      justify-content: space-between;
      padding: 10px 7px 4px;
      width: 150px;
    }
  
    @media (max-width: 991px) {
      .interest-select {
        white-space: initial;
      }
    }
  
    .interest-label {
      font-family: Abel, sans-serif;
    }
  
    .interest-select img {
      aspect-ratio: 1.59;
      object-fit: auto;
      object-position: center;
      width: 8px;
      fill: #6f6e6e;
    }
  
    .city-select {
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 1);
      border-bottom-width: 1px;
      background-color: #ff4b26;
      display: flex;
      margin-top: 13px;
      align-items: start;
      gap: 20px;
      font-size: 15px;
      color: #111;
      white-space: nowrap;
      justify-content: space-between;
      padding: 10px 7px 2px;
      width: 150px;
    }
  
    @media (max-width: 991px) {
      .city-select {
        white-space: initial;
      }
    }
  
    .city-label {
      font-family: Abel, sans-serif;
    }
  
    .city-select img {
      aspect-ratio: 1.33;
      object-fit: auto;
      object-position: center;
      width: 8px;
      fill: #6f6e6e;
    }
  
    .terms-text {
      color: #ff4b26;
      font-family: Abel, sans-serif;
      margin-top: 64px;
    }
  
    @media (max-width: 991px) {
      .terms-text {
        margin-top: 40px;
      }
    }
  
    .register-button {
      display: flex;
      margin-top: 53px;
      gap: 20px;
      font-size: 36px;
      white-space: nowrap;
      line-height: 119%;
      width: 250px;
      border-radius: 40px;
    }
  
    @media (max-width: 991px) {
      .register-button {
        padding-right: 20px;
        margin-top: 40px;
        white-space: initial;
      }
    }
  
    .register-text {
      font-family: Abel, sans-serif;
      flex-grow: 1;
      flex-basis: auto;
      margin: auto 0;
    }
  
    .register-button img {
      aspect-ratio: 1;
      object-fit: auto;
      object-position: center;
      width: 76px;
    }
  
    .image-column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 50%;
      margin-left: 20px;
    }
  
    @media (max-width: 991px) {
      .image-column {
        width: 100%;
      }
    }
  
    .signup-image {
      aspect-ratio: 0.53;
      object-fit: auto;
      object-position: center;
      width: 100%;
      flex-grow: 1;
    }
  
    @media (max-width: 991px) {
      .signup-image {
        max-width: 100%;
        margin-top: 40px;
      }
    }
  